<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- The character set should be utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Enables media queries -->
	<meta name="viewport" content="width=device-width"/>
	<!-- Link to the email's CSS, which will be inlined into the email -->
	<link rel="stylesheet" href="css/style.css" inline>
</head>
<body>
<table class="body">
	<tbody>
		<tr>
			<td>
				<center>

					<spacer size="100"></spacer>
					<container class="no-bg">
						<row>
							<columns>
								<center>
									<img src="https://lh3.googleusercontent.com/KCORmOxM7ywgzPkIO-I5wwzsoDfXaHKEIJF_aIhgxEEeyrLOdtbnRh2NKHGsLyqq_N_YifCISFPLyw6Fywcj_cA5tJ017Zq7NaFwMpJjjRiA-7MDgDFeItnzD9W0STVp3pLYmI04K7yCQpKuQVQt1PRCjlDLKNDuUHgYk18QmMkZ_jOwaEWkEL_XoaVVYtgNmoj2Afgx3xFkvlPnL0unQJZJTCQv8yTnMizKgikS6M-Ysdhqekfv764pIC0Mimomp6iCE3_2YY9H7S3gt93GHZdwG5CvsUtMVEk3Zo9kanw4-Z30iX8K_6Bh_mXykBb4k99QNLPxtJ4jiXBMxHts0EqU5Co4OIEvbnnIp1ytC4mNK75QWdR0Kykc9oO5tWR37KQM3hsueWICHgqWjRGaCbWe4pbOkKxGfzXdMpTZINIa36czv7rGqZgvq5ZweqiGtSTpkPP4HrkWkkP8FrQo_FPwjUgggyS_x1YAcLWakhMBw3mXwMN8rs2lBP5VzhH541FaitPwCHpBDMB6PJh0xaFMX5YtJBk697w-ChbhqyL4ANml3j6WgVywT1b_UsrBs0SZtsmM=w1280-h375-k?v=1473882665935" alt="#">
								</center>
							</columns>
						</row>
						<row>
							<columns>
								<p class="text-center text-uppercase logo-description">What is the most fascinatng thing about summer?</p>
							</columns>
						</row>
					</container>
					<container>
						<wrapper>
							<img class="float-center main-img" src="https://lh3.googleusercontent.com/6pZZdIkf0Y476p6pZSnHCp6Aqlg-Vr_NOmYmH6XO1Jk30IrOUcs-mXf4peYm46l8aArwwftM6a9aJZps1C_m-Tqj0MYDPEQLeOIkFYSViVHRlPxD_PNLa9VVKD1YywSvnqd18ZDP1kpIPsrAqQy7X2qcODGFEcC-Nges97hQZp9VvzxG2MhB1lSM3zupttH0WYrd3sbJx0FtM0AECuXOEHIPsAnOLwkRcdVu4pr5K1arI3CUiSDXiB3oMmFMD9ZNMZ_RymzRebS-Fz3CpDQa0Xjf3NxVhWagHb8uQpGHtuHk3EBS1-CaAjjQCXziHyBVK-DW5OHLpCNPHSS4s5Seqowl6yyxnt_3jX2d6cITMqnUYrAYpaWf2E_45w2j7djZ8FVOYJxSn_Yu7RV5eOOWKKNqVU84IbdHGzWOOHJgRZSAbVyCzXc32SEFoAPuUmEh0q6NwBFqX3gdkfgpGStda7rd5GVr_nrqW1l6CFZ57epAs4HaY7rl24D-7hJcJmyY4PNuRJJd0kYWlZudenLUL0uUxQ-MWY7cXWfSete-39Hlfn1q6UKHRpvyHvDkaXYFPQwPiv8h=w1280-h375-k?v=1473882640682" alt="summer">
						</wrapper>
					</container>
					<container>
						<spacer size="30"></spacer>
						<row>
							<columns>
								<h1 class="general-title text-center text-uppercase">Best articles in this month</h1>
							</columns>
						</row>
						<row>
							<columns large="6">
								<article>
									<img class="float-center" src="https://lh3.googleusercontent.com/QjgCwLk4BD-FkHto_uTUocoIUofALi670MjAUIBbhHtHiz2T3VsxrbrB5jn5Skt-kw9BsoqWWF5Bo8slmq7MlCC_2MDPIyUBxXR3pflTwAKXwMeSqVPtbD7nqMfGs_dwFxqT9628ZH4GGWwmAzL24AdLm9jaFHfB8zpjwCVPLa9aUeO9aHYFEAcGvNN01nMdngAqdAwm09dQnybIWjgmjDwZKhczkthYAIhqQQoASRJReOkcTGv6d9Pn-prD9fQFZ39cJXlMEhzktGSCiE8Yex43g2gfo1oM2rrwDQhPMVs2dKSaJF1E1pRKOcNam8JA10lX9lSU6OIziv47o_-gq1w6p_A5GozNdokt-PfImvPNr3zPn-UQFaJY8ofO-yoRRR5gC867CfwJGxCtXjBsC_T4Px6SPYuwFjTxRkZtoN3l5QbprBvO37tPSkHm2nWhizsALHNWEcP70QkKLwy4fe0geiaAXHpy6hjxNVU7VnVVKDVbMfTAhQlhnA8yLVco5zihWeCmGm9-yJ1i1zS_oJgezjkQspzm4m_ImonveuUfI2Kb34r2CWwjF8b_lh3Da6dHLGwM=w1280-h375-k?v=1473882595807" alt="text">
									<spacer size="20"></spacer>
									<h3 class="text-left article-title small-text-center">What is it like to be young, rich and beautiful</h3>
									<p class="article-intro small-text-center">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
										eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
										sagittis.</p>
								</article>
							</columns>
							<columns large="6">
								<article>
									<img class="float-center" src="https://lh3.googleusercontent.com/_HaUt-WBVXPjthe74ec4x42WVwe3euj5rPfJx4BKxvsWHdWKkWWFpYi72G9lEcvpPU8MbMZNjGMJx16seYGdD4LdYUrABVeHCovNzfl925kvHpJlfosV_-2cmaHcNDP8wURYyDjX5UGp6KidZv04wDqq7HlWRKbY1Q8bBvXhMDpygiWipemq2U13ypoE96AWjim7HqRYlBxGiBWb7m2HVGjlKxRKDd_ODjSp2xtCW44AeSft8LqMhX-k2ynP7Fpx3BsrpUXoWApGVm_TqXMfBu0u2yKoBB5_tw3_Ams4XbbL3mXBWOyxLik0cgkm14fx30P0RGAbeP7DM1oiewiWTRt0qHtL8obPVmJHeMy84fQefWP67GfguICO4hGXh0ShAv0XzVDENYV6N4j6vqb2etvi0pKCShRqQmWLErw399BlqM4YrTZpPNGI9N0tdHKaNGsF-yJxD9Nk-TCfTRxSb5ojRObd1zPzEm1069Mag11ftgWz99rfGFGuUBb39hM5vYYKZDnk4Mg9DvarZlhIpkwDW_Uj6Xv2jVc-g001Fsm0zgTluIRihmH_5wOv-K0rdQ-_-uDT=w1180-h353-k?v=1473883094830" alt="summer time">
									<spacer size="20"></spacer>
									<h3 class="text-left article-title small-text-center">What is it like to be young, rich and beautiful</h3>
									<p class="article-intro small-text-center">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
										eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
										sagittis. </p>
								</article>
							</columns>
						</row>
						<row>
							<columns large="12">
								<spacer size="30"></spacer>
								<article>
									<img class="float-center" src="https://lh3.googleusercontent.com/jzHeJ7qsxsBm7jbo7nT6wjCXQC4iCeH4MbTqXW5X4KJvqY7_FjhuIOuxVNa5HnBJMEmLD0Foes3zbs-Xsr-cpqUFSvjiV2FojzNQHydUEPUA0g0v1-jcEKujUzfquzBq8RkC6r0w4by0D1CHkniSCoi2ThGhf1J3qvLTfgdkVrqAiQcjDcnhRGxBXtUCMZxH1nFWNRaId6HfG-JeNTeuaWW-NjleoTe9aer0VNYSYToizJrv0urI0uqzYx81agkVYEbIOVjVklJTPGyryD70_Rr5-xs6BopXUwGjCA249Zm6QZR2cEeqsPnB4Gi90-9YASoihsSDinJMslk1WUmqoCr4Te_1A1yT77HNw1reRJVJ2xju3mSim-OV-Lnal67AhCl1wDoYDbws5cH1WxgoJ7qKbCV_FAsAQKQfIswGhAu_VakNAVv0qtqrXi4W5Rvvyu1xXTWB_qj5WjFd51JFrmBjy0nqkP_sHkotxWaNSTgYpnADBLx0dW-SGEAK2mzaqG0pyrEUDqBX_BJuI3TjnIRSn5Qt8SReXEJoZ1zyybY8IJ52ohI12Kg51VR_Cc1Z4oyMdAyP=w1280-h375-k?v=1473882626852" alt="article-illustration">
									<spacer size="20"></spacer>
									<h3 class="text-left article-title small-text-center">What is it like to be young, rich and beautiful</h3>
									<p class="article-intro small-text-center">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
										eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
										sagittis. Aliquam lobortis. Donec orci lectus, aliquam ut, faucibus non, euismod id,
										nulla. Curabitur blandit mollis lacus. Nam adipiscing. Vestibulum eu odio.</p>
								</article>
							</columns>
						</row>
					</container>
					<container>
						<wrapper>
							<center>
								<div class="divider"></div>
							</center>
						</wrapper>
					</container>
					<container>
						<spacer size="20"></spacer>
						<row>
							<columns small="12" large="6">
								<h4 class="small-text-center">Brannon & Douglas, Inc.</h4>
								<p class="address small-text-center">14000, Ukrain, Rocossovskogo str. 25</p>
								<p class="contact-phone small-text-center">Help & Support Center <strong class="tel">1-800-333-445</strong></p>
								<p class="contact-mail small-text-center">Our mail: <span class="email">summer-bye@hhh.com</span></p>
							</columns>
							<columns small="12" large="4" class="large-offset-2">
								<ul class="social-link small-text-center">
									<li class="social-link-item"><a href="/" class="block facebook"></a></li>
									<li class="social-link-item"><a href="/" class="block twitter"></a></li>
									<li class="social-link-item"><a href="/" class="block tumbl"></a></li>
									<li class="social-link-item"><a href="/" class="block rss"></a></li>
								</ul>
								<p class="small-text-center"><a class="link" href="/"><strong>Visit our website</strong></a></p>
								<p class="small-text-center"><a class="link" href="/"><strong>Mobile version</strong></a></p>
							</columns>
						</row>
					</container>
					<container class="no-bg">
						<spacer size="20"></spacer>
						<row>
							<columns>
								<p class="text-center">
									Don't want to recieve further emails? You can unsibscribe <a href="#" class="link-default">here</a>
								</p>
							</columns>
						</row>
					</container>
					<spacer size="100"></spacer>
				</center>
			</td>
		</tr>
	</tbody>
</table>


</body>
</html>
