<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- The character set should be utf-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Enables media queries -->
	<meta name="viewport" content="width=device-width"/>
	<!-- Link to the email's CSS, which will be inlined into the email -->
	<link rel="stylesheet" href="../dist/css/style.css">
</head>
<body>
<table class="body">
	<tbody>
	<tr>
		<td>
			<center>

				<spacer size="100"></spacer>
				<container class="no-bg">
					<row>
						<columns small="12">
							<center>
								<img src="../img/logo.png" alt="logo">
							</center>
						</columns>
					</row>
					<row>
						<columns>
							<p class="text-center text-uppercase logo-description">What is the most fascinatng thing about summer?</p>
						</columns>
					</row>
				</container>
				<wrapper>
					<container>
						<center>
							<img src="../img/header.jpg" alt="illustration">
						</center>
					</container>
				</wrapper>

				<container>
					<spacer size="30"></spacer>
					<row>
						<columns>
							<h1 class="general-title text-center text-uppercase">Bestarticles in this month</h1>
						</columns>
					</row>
					<row>
						<columns large="6">
							<article>
								<img src="../img/article.jpg" alt="article-illustration">
								<spacer size="20"></spacer>
								<h3 class="text-left article-title">What is it like to be young, rich and beautiful</h3>
								<p class="article-intro">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
									eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
									sagittis.</p>
							</article>
						</columns>
						<columns large="6">
							<article>
								<img src="../img/article2.jpg" alt="article-illustration">
								<spacer size="20"></spacer>
								<h3 class="text-left article-title">What is it like to be young, rich and beautiful</h3>
								<p class="article-intro">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
									eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
									sagittis. </p>
							</article>
						</columns>
					</row>
					<row>
						<columns large="12">
							<spacer size="30"></spacer>
							<article>
								<img src="../img/full.jpg" alt="article-illustration">
								<spacer size="20"></spacer>
								<h3 class="text-left article-title">What is it like to be young, rich and beautiful</h3>
								<p class="article-intro">Pusce egestas elit eget lorem. Suspendisse nisl elit, rhoncus
									eget, elementum ac, condimentum eget, diam. Nam at tortor in tellus interdum
									sagittis. Aliquam lobortis. Donec orci lectus, aliquam ut, faucibus non, euismod id,
									nulla. Curabitur blandit mollis lacus. Nam adipiscing. Vestibulum eu odio.</p>
							</article>
						</columns>
					</row>
				</container>
				<wrappwe>
					<container>
						<row>
							<columns large="12">
								<center>
									<div class="divider"></div>
								</center>
							</columns>
						</row>
					</container>
				</wrappwe>
				<spacer size="100"></spacer>
			</center>
		</td>
	</tr>
	</tbody>
</table>


</body>
</html>
